# Node
node_modules/
node.exe
npm
npm.cmd
npx
npx.cmd
corepack
corepack.cmd
nodevars.bat

# Angular
FrontEnd/node_modules/
FrontEnd/dist/

# ASP.NET
BackEnd/bin/
BackEnd/obj/
*.user
*.suo
*.pdb
**/bin/
**/obj/
appsettings.Development.json

# VS / OS
.vs/
*.log

# Tools / Local only
tall git-filter-repo
