USE [master]
GO
/****** Object:  Database [gadgetShop]    Script Date: 25/12/2025 10:40:21 PM ******/
CREATE DATABASE [gadgetShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gadgetShop', FILENAME = N'E:\32787\MSSQL16.MSSQLSERVER01\MSSQL\DATA\gadgetShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gadgetShop_log', FILENAME = N'E:\32787\MSSQL16.MSSQLSERVER01\MSSQL\DATA\gadgetShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gadgetShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gadgetShop]
GO
/****** Object:  User [project]    Script Date: 25/12/2025 10:40:21 PM ******/
CREATE USER [project] FOR LOGIN [project] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [project]
GO
ALTER ROLE [db_datareader] ADD MEMBER [project]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [project]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 25/12/2025 10:40:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ProductName] [varchar](100) NULL,
	[AvailableQTy] [int] NULL,
	[ReOderPoint] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteInventoryDetails]    Script Date: 25/12/2025 10:40:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_DeleteInventoryDetails]
	@ProductId int
as
begin
	Delete from Inventory
	where ProductID = @ProductId
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInventoryData]    Script Date: 25/12/2025 10:40:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetInventoryData]
as
begin
	select* from Inventory
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveinventoryData]    Script Date: 25/12/2025 10:40:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveinventoryData]
	-- Add the parameters for the stored procedure here
	@ProductID int,
	@ProductName varchar(100),
	@AvailableQTy int,
	@ReOderPoint int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert Inventory(
		ProductID,
		ProductName,
		AvailableQTy,
		ReOderPoint
	)
	values(
	@ProductID,
	@ProductName,
	@AvailableQTy,
	@ReOderPoint
	)
END
GO
USE [master]
GO
